.question-answer .accordion {
    --bs-accordion-btn-icon-transform: unset;
}

.question-answer .accordion-header {
    background-color: var(--white-900);
    padding: 4px 0;
    box-shadow: 0px 0px 6px #0000001A;
    border-radius: 15px;
}

.question-answer .accordion-header.active {
    border-radius: 15px 15px 0px 0px;
}

.question-answer .accordion-item {
    padding: 0 10px;
    background-color: transparent;
}

.question-answer .accordion-body {
    background-color: var(--white-900);
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    padding: 6px 23px 15px 23px;
    box-shadow: 0px 6px 6px -6px #00000029;
}

.question-answer .accordion-body p {
    margin-bottom: 0;
    animation: unset;
    color: #707070;
    font-size: 13px;
}

.question-answer .accordion-body span {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--gray-300);
}

.question-answer .accordion-button {
    font-weight: 500;
    font-size: 17px;
    color: var(--black-800);
}

.question-answer .accordion-button::before {
    background-color: var(--white-900);
    color: var(--black-800);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    text-align: center;
    margin-left: 7px;
}

.question-answer .accordion-1 .accordion-button::before {
    content: "1-";
}

.question-answer .accordion-2 .accordion-button::before {
    content: "2-";
}

.question-answer .accordion-3 .accordion-button::before {
    content: "3-";
}

.question-answer .accordion-4 .accordion-button::before {
    content: "4-";
}

.question-answer .accordion-5 .accordion-button::before {
    content: "5-";
}

.question-answer .accordion-button:not(.collapsed)::after,
.question-answer .accordion-button::after {
    content: "+";
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: unset;
    background-color: var(--purple-800);
    color: var(--white-800);
    border-radius: 50%;
    margin-left: 4%;
    margin-right: auto;
    margin-left: 0;
    width: 19.5px;
    height: 18.5px;
    line-height: 21px;

}

.question-answer .accordion-button::after {
    background-color: var(--gray-700);
}

.question-answer .accordion-1 .accordion-button::after {
    background-color: var(--purple-800);
}

.question-answer .accordion-header.active .accordion-button::after {
    content: "-";
}

.question-answer .accordion-button:focus,
.question-answer .accordion-button:focus-visible,
.question-answer .accordion-button:focus-within {
    outline: 0;
    border: 0;
}

.question-answer .accordion {
    --bs-accordion-border-color: unset;
    --bs-accordion-border-width: unset;
    --bs-accordion-inner-border-radius: unset;
    --bs-accordion-btn-focus-border-color: unset;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: unset;
    --bs-accordion-active-bg: unset;
    --bs-accordion-btn-bg: unset;
    --bs-accordion-btn-icon: unset;

}

@media screen and (max-width:770px) {
    .question-answer .accordion-button {
        font-size: 15px;
    }
}