:root {
    --white-900: #fff;
    --white-800: #fbfbfb;
    --black-900: #000;
    --black-800: #484848;
    --gray-900: #878787;
    --gray-800: #A8A8A8;
    --gray-700: #B8B8B8;
    --gray-500: #EFF1F2;
    --gray-300: #eeeeee;
    --dark-blue: #233F9F;
    --blue-900: #0089D1;
    --blue-800: #00BDEF;
    --blue-300: #E5FAFF;
    --purple-800: #7D5AB7;
}

[class ^="col-"] {
    float: right;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    direction: rtl;
    background-color: var(--white-800);
}

/* start  tittle sections*/
.main-tittle h3 {
    padding: 20px;
    font-size: 19px;
    font-weight: 750;
    color: var(--black-800);
}

.main-tittle h3::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: var(--purple-800);
    position: absolute;
    top: 32px;
    opacity: 0.5;
    left: -64px;
}

.main-tittle h3::before {
    content: "";
    opacity: 0.5;
    height: 2px;
    background-color: var(--purple-800);
    position: absolute;
    width: 90px;
    top: 32px;
    right: -64px;
}

.sub-tittle {
    margin-top: -10px;
    color: var(--gray-800);
}

/* end of tittle section */




/*==================== start question and answer */

.question-answer .accordion {
    --bs-accordion-btn-icon-transform: unset;
}

.question-answer .accordion-header {
    background-color: var(--white-900);
}

.question-answer .accordion-header.active {
    border-radius: 15px 15px 0px 0px;
}

.question-answer .accordion-item {
    padding: 0 10px;
    background-color: transparent;
}

.question-answer .accordion-body {
    background-color: var(--white-900);
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    padding: 6px 23px 15px 23px;
    box-shadow: 0px 6px 6px -6px #00000029;
}

.question-answer .accordion-body p {
    margin-bottom: 0;
    animation: unset;
    color: #707070;
    font-size: 13px;
}

.question-answer .accordion-body span {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--gray-300);
}

.question-answer .accordion-button {
    font-weight: 500;
    font-size: 17px;
    color: var(--black-800);
    padding-bottom: 5px;
}

.question-answer .accordion-button::before {
    background-color: var(--white-900);
    color: var(--black-800);
}

.question-answer .accordion-1 .accordion-button::before {
    content: "1-";
}

.question-answer .accordion-2 .accordion-button::before {
    content: "2-";
}

.question-answer .accordion-3 .accordion-button::before {
    content: "3-";
}

.question-answer .accordion-4 .accordion-button::before {
    content: "4-";
}

.question-answer .accordion-5 .accordion-button::before {
    content: "5-";
}

.question-answer .accordion-button:not(.collapsed)::after,
.question-answer .accordion-button::after {
    content: "+";
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: unset;
    background-color: var(--purple-800);
    color: var(--white-800);
    border-radius: 50%;
    margin-left: 4%;
}

.question-answer .accordion-button::after {
    background-color: var(--gray-700);
}

.question-answer .accordion-1 .accordion-button::after {
    background-color: var(--purple-800);
}

.question-answer .accordion-header.active .accordion-button::after {
    content: "-";
}

.question-answer .accordion-button:focus,
.question-answer .accordion-button:focus-visible,
.question-answer .accordion-button:focus-within {
    outline: 0;
    border: 0;
}

.question-answer .accordion {
    --bs-accordion-border-color: unset;
    --bs-accordion-border-width: unset;
    --bs-accordion-inner-border-radius: unset;
    --bs-accordion-btn-focus-border-color: unset;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: unset;
    --bs-accordion-active-bg: unset;
    --bs-accordion-btn-bg: unset;
    --bs-accordion-btn-icon: unset;

}

@media screen and (max-width:770px) {
    .question-answer .accordion-button {
        font-size: 15px;
    }
}


/* ==================== end of question and answer */

/* ==================== comments ============================= */
.comments-row {
    padding: 0 8%;
}

.comments .comment-item {
    box-shadow: 0px 0px 6px #00000026;
}

.comments .comment-text,
.admin-comment-text {
    color: var(--gray-900);
    opacity: 0.8;
}

.comments .comment-item .comment-tittle i.user-icon,
i.admin-icon {
    color: var(--blue-800);
    background-color: #f6f6f6;
    padding: 5px;
    border-radius: 50%;
}

.comments .comment-item i.fa-share {
    color: var(--black-800);
    font-size: 13px;
}

.comments i.admin-icon {
    color: var(--purple-800);
}

.comments .user-comment .user-name,
.comment-date,
.admin-response .admin-name,
.admin-response-date {
    color: var(--black-800);
    font-weight: 400;
}

.comment-dis {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gray-300);
}

.comments .admin-response {
    margin-right: 30px;
}

.comments .admin-response .admin-response-tittle .arrow-icon {
    margin-left: 5px;
    color: var(--black-800);
}


.comments .comment-text,
.admin-comment-text {
    font-weight: 400;
}

.comments .user-name,
.admin-name {
    margin-left: 20px;
    margin-right: 5px;
}

@media screen and (max-width:550px) {

    .comments .comment-text,
    .admin-comment-text {
        font-weight: 400;
        font-size: 12px;
    }

}


/* send comment */
.comments .send-comment {
    background-color: var(--white-900);
    box-shadow: 0px 0px 6px #00000033;
}

.comments .send-comment label {
    color: #5b6d7b;
}

.comments .send-comment input {
    background-color: #eff2e5;
    background: #EFF2F5 0% 0% no-repeat padding-box;
}

.comments .send-comment input:focus-visible {
    outline: 0;
}

.comments .send-comment #comment-input {
    height: 135px;
}

.comments #send-input {
    background-color: var(--purple-800);
    top: 24.5%;
    left: 1%;
    width: 11%;
    height: 125px;
    color: var(--white-900);
}

.comments #send-input {
    font-size: 14px;
    font-weight: 400;
}

.send-message-tittle {
    color: #373435;
    font-weight: 700;
    font-size: 17px;
}

@media screen and (max-width:775px) {
    .send-message-tittle {
        font-size: 15px;
    }

    .comments .send-comment label {
        font-size: 14px;
    }

    .comments #send-input {
        width: 14%;
    }
}

/* ===============   end of comments ========= */


/* ================ start description =========*/
.Description .desc-text {
    background-color: var(--white-900);
    box-shadow: 0px 0px 6px #00000026;
    color: #484848;
    font-weight: 400;
    text-align: justify;
}

.Description .desc-row {
    padding: 0 7.5%;
}

/* =============== end of description ========= */

/* ================ start visa-section ======== */
.visa-section .visa-row {
    padding: 0 6%;
    background-color: var(--blue-300);
}
.visa-section .visa-img{
    aspect-ratio: 2/1;
    height: 150px;
    border-radius: 10px;
}
.visa-section .visa-name-btn {
    background-color: var(--white-900);
    color: var(--black-800);
    text-align: right;
    padding-right: 10px;
    width: 100%;
}

.visa-section .visa-name-btn .arrow-icon {
    background-color: var(--blue-300);
    color: var(--gray-800);
    /* padding: 5px; */
    border-radius: 50%;
    padding: 4px;
    top: 27%;
    left: 8%;
    font-size: 11px;
}

.visa-section .visa-see-more-btn {
    background-color: #00bdef;
    width: max-content;
    color: var(--white-900);
    padding: 10px 25px;
}

@media screen and (max-width:400px) {
    .visa-section .visa-name-btn{
        width: 100%;
    }
}
@media screen and (min-width:450px) {
    .visa-section .visa-name-btn {
        width: 100%;
    }
}
/* @media screen and (max-width:560px) {
    .visa-section .visa-name-btn {
        width: 65%;
    }
} */
@media screen and (min-width:575px) {
    .visa-section .visa-name-btn {
        width: 100%;
    }
}
@media screen and (min-width:770px) {
    .visa-section .visa-name-btn {
        width: 85%;
    }
}
@media screen and (min-width:1200px) {
    .visa-section .visa-name-btn {
        width: 100%;
    }
}
/* end of visa section*/

/* ============= get visa ========= */
.get-visa .get-visa-row {
    padding: 0 7%;
}

.get-visa .get-visa-card {
    background-color: var(--white-900);
    box-shadow: 0px 0px 6px #0000001A;
    /* height: 220px; */
}

.get-visa .get-visa-card .get-visa-tittle {
    color: var(--black-800);
    padding-bottom: 8px;
    border-bottom: 2px solid #fcc72c;
    font-size: 20px;
    font-weight: 700;
}

.get-visa .get-visa-card .get-visa-text {
    color: var(--gray-800);
}

.get-visa .get-visa-card .get-visa-btn {
    background-color: #fcc72c;
    color: var(--black-800);
    padding: 2px 18px;
}
.get-visa .get-visa-card .get-visa-img{
    aspect-ratio: 2/1;
    height: 220px;
    border-radius: 10px;
    margin: -7px;
   margin-right: 10px;
}
@media screen and (max-width:500px) {
    .get-visa .get-visa-card .get-visa-tittle {
        font-size: 14px;
    }

    .get-visa .get-visa-card .get-visa-text {
        font-size: 12px;
    }
}

@media screen and (min-width:990px) {
    .get-visa .get-visa-card .get-visa-text {
        font-size: 12px;
    }

    .get-visa .get-visa-card .get-visa-tittle {
        font-size: 16px;
    }
}

@media screen and (min-width:1200px) {
    .get-visa .get-visa-card .get-visa-text {
        font-size: 14px;
    }

    .get-visa .get-visa-card .get-visa-tittle {
        font-size: 18px;
    }
}

/* ======================== end of get visa =============== */

/* visa map */
.visa-map .visa-map-row{
    padding: 0 8%;
}
.visa-map .breadcrumb-wrapper{
    background-color: var(--blue-800);
}
.visa-map .breadcrumb-wrapper h1,li,a{
    color: var(--white-900);

}
.visa-map .breadcrumb-wrapper .breadcrumb-item+.breadcrumb-item::before {
    color: var(--white-900);
}
.visa-map .map-img-wrapper .map-img{
    filter: contrast(0.25);
    opacity: 0.4;
    aspect-ratio: 2/1;
}