:root {
	--white-900: #fff;
	--white-800: #fbfbfb;
	--black-900: #000;
	--black-800: #484848;
	--gray-900: #878787;
	--gray-800: #A8A8A8;
	--gray-700: #B8B8B8;
	--gray-500: #EFF1F2;
	--gray-300: #eeeeee;
	--dark-blue: #233F9F;
	--blue-900: #0089D1;
	--blue-800: #00BDEF;
	--blue-300: #E5FAFF;
	--purple-800: #7D5AB7;
}

[class ^="col-"] {
	float: right;
}

body {
	direction: rtl;
	background-color: var(--white-800);
}

/* ======= tourism-magazine ====================*/
.tourism-magazine .tourism-magazine-tittle h3,
.faq .faq-tittle h3 {
	padding: 20px;
}

.tourism-magazine .tourism-magazine-tittle h3::after,
.faq .faq-tittle h3::after {
	content: "";
	width: 90px;
	height: 3px;
	background-color: var(--gray-800);
	position: absolute;
	top: 34px;
	left: -61px;

}

.tourism-magazine .tourism-magazine-tittle h3::before,
.faq .faq-tittle h3::before {
	content: "";
	height: 3px;
	background-color: var(--gray-800);
	position: absolute;
	width: 90px;
	top: 34px;
	right: -59px;

}

.tourism-magazine .tourism-magazine-tittle .sub-tittle,
.faq .faq-tittle .sub-tittle {
	margin-top: -10px;
	color: var(--gray-800);
}

.tourism-magazine .nav-pills .nav-link.active,
.nav-pills button {
	color: var(--black-800);
	font-weight: 500;
	border-radius: 0;
	padding: 0;
}

.tourism-magazine .nav-pills .nav-link.active,
.nav-pills .show>.nav-link button {
	background-color: white;
	color: var(--blue-900);
	border-bottom: 3px solid var(--blue-900);
}

.tourism-magazine .tab-content-row {
	padding: 0 13%;
}

.tourism-magazine .travel-items .travel-desciption {
	color: var(--gray-800);
	margin-top: 15px;
	padding-left: 15px;
}

.tourism-magazine .travel-items .img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.tourism-magazine .travel-items .travel-img {
	transition: all 0.4s ease-in-out;
	transition-delay: 100ms;
	vertical-align: middle;
}

.tourism-magazine .travel-items:hover .travel-img {
	transform: scale(1.03);
	border-radius: 20px;
}

.tourism-magazine .travel-items .travel-header {
	font-size: 17px;
	font-weight: 600;
	margin-top: 10px;
	word-spacing: -1px;
}

.tourism-magazine .tab-content-row .seemore button {
	background-color: var(--purple-800);
	border-radius: 25px;
	color: var(--white-900);
	font-size: 14px;
	margin-right: 2%;
	border: 0;
	padding: 5px 20px;
}

@media screen and(max-width:700px) {
	.travel-items {
		display: flex;
		flex-direction: column;
	}
}

/* ======= end of tourism-magazine ====================*/
/* ======= start faq section       =================== */
.faq-row {
	padding: 0 6%;
}

.accordion-header {
	padding: 10px 0;
	border-radius: 15px;
	box-shadow: 0px 0px 6px #0000001A;
}

.accordion-button {
	font-size: 18px;
}

.accordion-button::before {
	content: "?";
	background-color: var(--blue-900);
	color: var(--white-800);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding-top: 2px;
	text-align: center;
	margin-left: 7px;
}

.accordion-button::after {
	margin-right: auto;
	margin-left: 0;

}

.accordion-body {
	background-color: var(--gray-500);
	border-radius: 0 0 15px 15px;
}

.accordion-body p {
	margin-bottom: 0;
}

.accordion-button:not(.collapsed) {
	background-color: var(--white-900);
	border: 1px solid transparent;
	box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
	box-shadow: 0;
}

/* ======= end of faq section   =================== */